:root {
    --primary-blue: #083b4c;
    --secondary-turquoise: #1389b2;
    --secondary-green: #0cd6a1;
    --secondary-yellow: #ffd166;
    --secondary-pink: #f0466f;
    font-family: 'Sen', sans-serif !important;
}

* {
    font-weight: 800 !important;
    color: rgb(255, 248, 248);
}

.bg-my-blue {
    background-color: var(--primary-blue);
}

#box-wrapper {
    width: 500px;
    height: 500px;
}

.box {
    width: 80px;
    height: 80px;
    margin: 10px;
}

.azure {
    background-color: var(--secondary-turquoise);
}

.green {
    background-color: var(--secondary-green);
}

.yellow {
    background-color: var(--secondary-yellow);
}

.pink {
    background-color: var(--secondary-pink);
}

.box:hover {
    transform: translateY(-10px);
    transition: all 0.3s;
}